* {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; }

a {
  text-decoration: none;
  color: #00CFED; }

a.white {
  color: white; }

.card, .card--xl, .card--xs {
  position: absolute;
  height: 65vh;
  width: 98vw;
  top: 34vh;
  right: 1vw;
  border: 0.05rem solid #333333;
  border-radius: 16px;
  background-color: white;
  overflow: scroll;
  margin: 0 !important; }

.card--xl {
  height: 80vh;
  top: 19vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden; }

.card--xs {
  height: 15vh;
  top: 18vh;
  padding-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden; }

.actualizacionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 25%;
  padding: 2%; }

.actualizacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 5rem;
  max-width: 50%; }

.linea {
  height: 100%;
  width: 4px;
  border-radius: 10px;
  margin-left: 2rem;
  background-color: black; }

#pac-input {
  top: 0 !important;
  left: 54% !important;
  width: 45%;
  font-size: 16px !important; }

.text_box {
  display: block;
  width: 60vw;
  margin: .5rem auto;
  padding: .75rem;
  font-weight: 700;
  border-radius: .75rem;
  border: 1px solid #06309D; }

.logo {
  width: 40vw;
  height: 40vw;
  margin: 20vh auto 2vh auto;
  background-color: #00CFED;
  border-radius: 50%;
  overflow: hidden; }
  .logo img {
    width: 100%;
    height: 100%; }

.boton, .boton--sec, .boton--thi, .boton--com {
  display: block;
  width: 60vw;
  height: 2.5rem;
  line-height: 2rem;
  padding: 0 .80rem;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  color: white;
  border-radius: 0.5rem;
  border: 0.05rem solid black;
  background-color: #06309D; }

.boton--sec {
  background-color: #00CFED;
  -webkit-box-shadow: 0.09rem 0.09rem 0.09rem #00CFED;
  box-shadow: 0.09rem 0.09rem 0.09rem #00CFED; }

.boton--thi {
  background-color: #AEE8B4;
  -webkit-box-shadow: 0.09rem 0.09rem 0.09rem #AEE8B4;
  box-shadow: 0.09rem 0.09rem 0.09rem #AEE8B4; }

.boton--com {
  background-color: #C5E75F;
  -webkit-box-shadow: 0.09rem 0.09rem 0.09rem #C5E75F;
  box-shadow: 0.09rem 0.09rem 0.09rem #C5E75F; }

.hamburger_1 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0; }

.hamburger_2 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0; }

.hamburger_3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0; }

.close {
  display: block;
  color: white; }

.burger.close .hamburger_1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  -ms-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: white; }

.burger.close .hamburger_2 {
  opacity: 0; }

.burger.close .hamburger_3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  -ms-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  background-color: white; }

.encabezado {
  display: block;
  font-size: 41.47692px;
  margin: 2rem 1rem; }

.hyperLink {
  position: absolute;
  left: 38vw;
  bottom: 3vh;
  font-style: italic;
  color: #00CFED;
  text-align: center; }

.regContainer {
  margin: 15vh auto; }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.burger {
  cursor: pointer; }

.menu {
  z-index: 10;
  position: fixed;
  width: 207px;
  height: 736px;
  background-color: #06309D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 2rem;
  padding-top: 2rem;
  -webkit-transition: ease-in-out .3s;
  -o-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  -webkit-transform: translateX(200%);
  -ms-transform: translateX(200%);
  transform: translateX(200%); }
  .menu_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 2rem;
    color: white;
    margin-right: 0; }
    .menu_items h2 {
      font-size: 25.6px;
      margin-right: 0 !important; }
