.boton{
  display: block;
  width: 60vw;
  height: 2.5rem;
  line-height: 2rem;
  padding: 0 .80rem;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  color: white;
  border-radius: 0.5rem;
  border: 0.05rem solid black;
  background-color: $primary_color;
}
.boton--sec{
  @extend .boton;
  background-color: $secondary_color;
  box-shadow: 0.09rem 0.09rem 0.09rem $secondary_color;
}

.boton--thi{
  @extend .boton;
  background-color: $third_color;
  box-shadow: 0.09rem 0.09rem 0.09rem $third_color;
}

.boton--com{
  @extend .boton;
  background-color: $complementary_color;
  box-shadow: 0.09rem 0.09rem 0.09rem $complementary_color;
}
