.navbar{
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    align-items: center;
}
.burger{
    cursor: pointer;
}
.menu{
    z-index: 10;
    position: absolute;
    width: 60%;
    height: 100%;
    background-color: $primary_color;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-top: 2rem;
    transform: translateX(170%);
    transition: ease-in-out .3s;
    margin: 0;
    &_items{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        color: white;
        margin: 0;
        & h2{
            font-size: $fuente_regular *1.6;
        }
    }
}