//Colores
$primary_color: #06309D;
$secondary_color: #00CFED;
$third_color: #AEE8B4;
$complementary_color: #C5E75F;
$suplementary_color: #667C00;
$text_dark: #333333;
$text_light: #eeeeee;

//Fuentes
$fuente_regular: 16px;
$fuente_ratio: 1.685;

$fuente_grande: $fuente_regular * 2 * $fuente_ratio;
$fuente_pequeña: $fuente_regular / $fuente_ratio;

//Textos
*{
    font-family: 'Open Sans', sans-serif;
    font-size: $fuente_regular;
}
h1,h2,h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
@import "../components/boton.scss";
@import "../components/cards.scss";
@import "../components/encabezado.scss";
@import "../components/textBox.scss";
@import "../components/logo.scss";
